@charset "UTF-8";
body {
    background-color: grey;
}

.main-title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 52px;
    letter-spacing: 6px;
    padding-left: 30px;
    animation: slideIn 2.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.container {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.row1 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row3 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    background-color: lightgrey;
    height: 180px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
}

section a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

main section a:hover {
    font-size: 150%;
    font-weight: bolder;
    background-color: darkgrey;
    border-radius: 10px;
    transition: all .4s;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    /* Height of the footer */
    background: gray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    letter-spacing: 6px;
    padding-left: 30px;
}